*{
    color: #fff
}
.colorpicker-container .input{
    width: 80%;
}
.colorpicker{
    width: 15%;
}
.toggler .toggle-ini span.flex{
  width: 80%; gap: 1rem
}

#qr-types{
    margin: auto; 
    max-width: 1000px;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #000;
    font-size: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
#qr-types .qr-type{
    display: inline-block;
    width: 48%;
    margin-top: 1rem;
    cursor: pointer
}
#qr-types .qr-type.visible{
    animation-name: zoom-in;
    animation-duration: 1s;
}
#qr-types button{
    background-color: #fff;
    border-radius: 25px;
    border: none;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    color: #000
}
#qr-types button img{
    margin-right: 7px;
}
#qr-types .qr-type.chosen button{
    background-color: #ffb630;
}

#qr-params{
    max-width: 800px;
}

#fields{
    padding: 1rem;
}
#fields h2{
  font-weight: normal;
  margin-top: 0px;
}
#fields .input{
    display: inline-block;
    width: 100%;
}
#fields input,#fields textarea{
    padding: 3%;
}
.toggler img.icon{
    max-width: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

#logo-picker{
  width: 100%;
  padding: 3%;
  border: 2px solid #fff;
  border-radius: 4px;
}
#logo-preview{
  padding: 3%;
  margin-top: 3%;
  border: 2px solid #000;
  border-radius: 8px;
}
#logo-preview button{
    width: 30%;
    margin-left: 3%;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 2px 2px 10px #000;
    padding: 5%;
}
#logo-preview .chosen{
    border: 2px solid #000;
}

#create-container{
    padding: 4%;
    text-align: center;
}
#create-container button{
    background-color: #ffb630;
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem;
    border: none;
    width: 100%;
}

#result img{
    width: 80%;
    filter: grayscale(100%);
    border-radius: 8px;
    max-width: 400px;
}
#result canvas{
    margin: 3% 0% 3% 0%;
}
#download-btn{
    margin: auto;
    margin-top: 3%;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    display: block;
    border: 2px solid #444;
    padding: 3%;
    color: #000;
    background: #fff;
}

@media only screen and (min-width:800px){
    #qr-types{
        margin-top: 3%;
        border-radius: 8px;
    }
    #qr-types .qr-type{
        width: 30%
    }
    #qr-types button{
        font-size: 16px;
    }
    #qr-create{
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        margin-top: 3%;
        max-width: 1000px;
    }
    #qr-params{
        width: 50%;
    }
    #result-container{
        width: 50%; position: sticky; top: 2rem
    }
}