*{box-sizing: border-box; max-width: 100%; line-height: 150%}
*:disabled{cursor: not-allowed}
body{
    margin:0; 
    padding:0; 
    border:none;
    background-image: linear-gradient(90deg,#fff,#ddd);
}
a{
    color: #444;
    text-decoration: none;
}
.input{
    border: 2px solid #999;
    border-radius: 4px;
}
.input div{
    padding-left: 3%;
}
.input input,.input textarea{
    border: none;
    background-color: transparent;
    width: 100%;
}
.input textarea{
    height: 100px;
}
input:focus,textarea:focus,select:focus{
    outline: none;
}
.toggler{
    padding: 4%;
}
.toggler .subject{
    display: none;
    padding: 2% 2% 2% 3%;
}
.toggler.open .subject{
    display: block;
}
.toggle-ini{
    border: 2px solid #000;
    padding: 0% 2%;
    border-radius: 4px;
}
.toggler .toggler-expand-icon{
    font-size: 30px; cursor: pointer;
}
.spinner{
    width: 20px; height: 20px; border-top: 2px solid #000; border-right: 2px solid #aaa;
    border-radius: 50%; animation-name: spin; animation-duration: 1s;
    animation-iteration-count: infinite; animation-timing-function: ease-in;
    flex-shrink: 0;
}
/*general styles*/
.theme-1-bg{
    background-color: #000; 
    color:#fff;
}
.button{border: 1px solid #fff;}
.text{line-height: 200%}
/*menu styles*/
#menu{
    background-color: #fff;
    border-bottom: 2px solid #000;
    justify-content: space-around;
}
#menu-ini{
    display: none;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 27px
}
#menu .logo{
    margin:0;
}
#ss-curtain{display: none;}
#menu .links{width: 50%;}
#menu .links a{
    display: block;
}
#ss-close-container{
  display: none;
}
/*footer styles*/
#footer{
    padding: 3%;
}
#footer .main{
    background-color: #000;
    padding: 3%;
    color: #fff;
}
#footer a{
    color: #fff; 
    display: block;
    margin-top: 4%;
    font-size: 14px;
}

/*small screen styles*/
@media only screen and (max-width:800px){
    #menu-ini{display:block; display: inline-block}
    #menu .links{display: none;}
    #menu.open .links{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        background-color: #fff;
        z-index: 3;
        overflow: auto;
    }
    #menu.open #ss-curtain{
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        z-index:2;
        opacity: 0.7;
        background-image: linear-gradient(90deg,#000,#fff);
    }
    #menu.open .links a{
        font-size: 25px;
        margin-top: 10%;
        border-bottom: 1px solid #000;
    }
    #menu.open #ss-close-container{
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    #ss-close{
        background-color: transparent;
        border: 1px solid #000;
        padding: 4%;
        border-radius: 4px;
        width: 50%;
    }
    #menu.open #menu-ini{
        display: none;
    }
}
@keyframes spin{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}