*{box-sizing: border-box; max-width: 100%; line-height: 150%}
*:disabled{cursor: not-allowed}
body.not-loaded{
    display: none
}
button:hover, .flip-effect:hover{
    animation-name: flip;
    animation-duration: 1s;
    cursor: pointer;
}
body{
    margin:0; 
    padding:0; 
    border:none;
    background: #000;
}
a{
    color: #444;
    text-decoration: none;
}
.input{
    border: 2px solid #444;
    border-radius: 8px;
}
.input div{
    padding-left: 3%;
}
.input input,.input textarea{
    border: none;
    background-color: transparent;
    width: 100%;
}
.input textarea{
    height: 100px;
}
input:focus,textarea:focus,select:focus{
    outline: none;
}
.toggler{
    padding: 1rem;
}
.toggler .subject{
    display: none;
    padding: 2% 2% 2% 3%;
}
.toggler.open .subject{
    display: block;
}
.toggle-ini{
    border: 2px solid #444;
    padding: 1rem;
    border-radius: 8px;
}
.toggler .toggler-expand-icon{
    font-size: 30px; cursor: pointer;
}
.spinner{
    width: 20px; height: 20px; border-top: 2px solid #000; border-right: 2px solid #aaa;
    border-radius: 50%; animation-name: spin; animation-duration: 1s;
    animation-iteration-count: infinite; animation-timing-function: ease-in;
    flex-shrink: 0;
}
/*general styles*/
.theme-1-bg{
    background-color: #000; 
    color:#fff;
}
.theme-2-bg{
    background-color: #ffb630;
    color: #000;
}
.button{border: 1px solid #fff;}
.text{line-height: 200%}
.visible.from-down{
    animation-name: from-down;
    animation-duration: 1s;
}
/*menu styles*/
#menu{
    background-color: #000;
    border-bottom: 2px solid #444;
    justify-content: space-around;
    color: #fff
}
#menu-ini{
    display: none;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 27px
}
#menu .logo{
    margin:0;
}
#ss-curtain{display: none;}
#menu .links{width: 50%;}
#menu .links a{
    display: block;
    color: #fff
}
#ss-close-container{
  display: none;
}
/*footer styles*/
#footer{
    padding: 3%;
}
#footer .main{
    background-color: #000;
    padding: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #444
}
#footer .link{
    margin-top: 2rem;
}
#footer .links .space-up{margin-top: 3rem}
#footer a{
    color: #fff; 
    margin-top: 4%;
    font-size: 14px;
}
#footer .id{
    padding-right: 1rem
}
#footer .id .name{
    font-size: 6rem;
    background-image: linear-gradient(90deg, #ffb630, #75c2af, #75c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}
#footer .id .socials{
    display: flex; justify-content: center; align-items: center; gap: 1rem
}
#footer .id .socials button{
    width: 40px; height: 40px; border-radius: 25px; background-color: #fff; border: none; display: flex; justify-content: center;
    align-items: center;
}

/*small screen styles*/
@media only screen and (max-width:800px){
    #menu-ini{display:block; display: inline-block}
    #menu .links{
        transition: .7s; width: auto; height: 100%; top: 0; right: -1000px; overflow: auto; padding: 1rem; display: block; position: fixed;
        z-index: 3; background-color: #000; color: #fff;
    }
    #menu.open .links{
        right: 0;
    }
    #menu.open #ss-curtain{
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        z-index:2;
        opacity: 0.7;
        background-image: linear-gradient(90deg,#000,#fff);
    }
    #menu/*.open*/ .links a{
        font-size: 25px;
        margin-top: 1rem;
        padding: 1rem;
        color: #fff;
    }
    #menu/*.open*/ #ss-close-container{
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    #ss-close{
        background-color: transparent;
        border: 1px solid #444;
        padding: 1rem;
        border-radius: 25px;
        width: 50%;
        color: #fff
    }
    #menu.open #menu-ini{
        display: none;
    }

    #footer .id .name{
        font-size: 3rem;
    }
}
@keyframes spin{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
@keyframes flip{
    0%{
        transform: rotateX(180deg)
    }
    100%{
        transform: rotateX(0deg)
    }
}
@keyframes from-up{
    0%{
        opacity: .4;
        transform: translateY(5rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0rem)
    }
}
@keyframes from-down{
    0%{
        opacity: .1;
        transform: translateY(-5rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0rem)
    }
}
@keyframes zoom-in{
    0%{
        transform: scale(.5);
        opacity: .2
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes glow{
    0%{
        transform: scale(.5);
        filter: blur(20px)
    }
    50%{
        transform: scale(1.3);
        filter: blur(3px)
    }
    100%{
        transform: scale(.5);
        filter: blur(20px)
    }
}