body.loaded #from-cam{
    animation-name: flip-right;
    animation-duration: 1s;
}
body.scan-with-img-ready #from-img{
    visibility: visible;
    animation-name: flip-left;
    animation-duration: 1s;
}
*{color: #fff}
#from-cam{
  background-color: #000;
  padding: 4%;
  color: #fff;
  cursor: pointer;
}
#from-cam img,#from-img img{
    width: 40%;
    max-width: 200px;
}
#from-img{
  background-color: #fff;
  padding: 4%;
  cursor: pointer;
  visibility: hidden;
}
#cam-scanner{
    background-color: #000;
    color: #fff;
    flex-direction: column;
}
#cam-top{
    z-index: 5;
}
#instruction{
    z-index: 4;
    background-color: rgba(0,0,0,0.5);
}
#reader{
    width: 100%;
    z-index: 3;
}
#camera-list{
    padding: 3%;
    z-index: 4;
    width: 100%;
}
#camera-list button{
    padding: 2%;
    background-color: rgba(8,8,8,0.5);
    color: #fff;
    border: 2px solid #fff;
    margin-left: 3%;
}
#camera-list button.current{
    background-color: #fff;
    color: #000;
}

#result-fixed .curtain{
    background-color: rgba(50,50,50,0.5);
    z-index: 2;
}
#result-container{
    padding: 3%;
    background-color: #fff;
    position: relative;
    z-index: 3;
    width: 95%;
    border-radius: 8px;
    max-width: 700px;
}
#close-result,.close-button{
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
#result-container .wrapper{
    overflow: auto;
    height: 80vh;
    max-height: 400px;
}
#rt-container img{
    width: 30vw;
    max-width: 50px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px;
}
#rr-container{
    border: 2px solid #999;
    border-radius: 8px 8px 0px 0px;
}
#rr-top{
    border-bottom: 2px solid #999;
    padding: 3%;
}
#r-extra{
  margin-top: 3%;
}
#rr{
    width: 100%;
    border: none;
    max-height: 200px;
    padding: 3%;
    background-color: #fff;
    overflow: auto;
    white-space: pre-wrap;
    line-height: 150%;
    font-size: 14px;
}
#ra-container{
    width: 100%
}
#ra{
    padding: 3%;
    border: 2px solid #999;
    border-radius: 4px;
}

.field{
  border: 2px solid #999;
  border-radius: 4px;
  padding: 0% 2% 0% 2%;
  margin-top: 3%;
}
.field-input{
    width:80%;
}
.field-input input{
  border: none;
  width: 100%;
  background-color: transparent;
}
@media only screen and (min-width:700px){
    #main{display: flex; justify-content: center; align-items: center}
    #from-cam,#from-img{
        width:50%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@keyframes flip-right{
    0%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg)
    }
}

@keyframes flip-left{
    0%{
        transform: rotateY(-180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}